
body, html{
    left: 0;
    top: 0;
    background-color: green;
}
.Stock{
    margin-top: 500px;
    margin-left: 100px;
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
}
.Tock{
    margin-top: 0px;
    margin-left: 100px;
    background-color: blue;
    width: 10px;
    height: 10px;
    position: absolute;
}
.Shock{
    margin-left: 100px;
    width: 10px;
    height: 10px;
    background-color: pink;
    position: absolute;
}

.ent{
    margin-top: 0px;
    margin-left: 1000px;
    background-color: Red;
    width: 10px;
    height: 10px;
    position: absolute;
}

.entPos{
    margin-top: 0px;
    margin-left: 1000px;
    background-color: black;
    width: 10px;
    height: 10px;
    position: absolute;
}

.Sock{
    margin-left: 100px;
    width: 10px;
    height: 10px;
}